name: Build

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - .github/**
      - .gitignore
      - README.md

jobs:
  build-roots-matrix:
    runs-on: ubuntu-latest
    outputs:
      roots: ${{ steps.roots.outputs.roots }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - id: roots
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          last_run_sha=$(gh run list -L1 --status success --branch=${{ github.ref_name }} --workflow="${{ github.workflow }}" --json=headSha --jq='.[0].headSha')
          roots='[]'

          while IFS= read -r -d '' root
          do
            test -f "$root/.buildignore" && continue
            git diff --quiet "$last_run_sha" HEAD "$root" && continue
          
            roots=$(jq -c ". + [\"$root\"]" <<< "$roots")
          done < <(find . -maxdepth 1 -mindepth 1 -type d -not -path './.*' -print0)

          echo "roots=$roots" >> "$GITHUB_OUTPUT"

  build:
    if: ${{ fromJson(needs.build-roots-matrix.outputs.roots)[0] != null }}
    runs-on: ubuntu-latest
    needs: build-roots-matrix
    strategy:
      matrix:
        root: ${{ fromJson(needs.build-roots-matrix.outputs.roots) }}
    defaults:
      run:
        working-directory: ${{ matrix.root }}
    steps:
      - uses: actions/checkout@v2
      - run: |
          ./build-cmd
